name: Build

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions: read-all

jobs:
  iocp:
    permissions:
      contents: read
    name: IOCP
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
    - name: Build
      run: |
        mkdir build && cd build
        cmake -G 'Visual Studio 17 2022' -A x64 ..
        cmake --build .
        cmake --install . --config Debug
    - name: Run
      run: |
        & 'C:/Program Files/eventq/lib/eventq'

  epoll:
    permissions:
      contents: read
    name: EPOLL
    needs: []
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
    - name: Build
      run: |
        mkdir build && cd build
        cmake -G 'Unix Makefiles' ..
        cmake --build .
        sudo cmake --install .
    - name: Run
      run: /usr/local/lib/eventq

  # io-uring:
  #   permissions:
  #     contents: read
  #   name: IO_URING
  #   needs: []
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Checkout repository
  #     uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
  #   - name: Build
  #     run: |
  #       mkdir build && cd build
  #       cmake -G 'Unix Makefiles' -DUSE_IO_URING=on ..
  #       cmake --build .
  #       sudo cmake --install .
  #   - name: Run
  #     run: /usr/local/lib/eventq

  kqueue:
    permissions:
      contents: read
    name: KQUEUE
    needs: []
    runs-on: macos-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
    - name: Build
      run: |
        mkdir build && cd build
        cmake -G 'Unix Makefiles' ..
        cmake --build .
        cmake --install .
    - name: Run
      run: /usr/local/lib/eventq
